# Autodetect text files
* text=auto

# ...Unless the name matches the following overriding patterns

# Sources
*.php  text
*.css  text
*.js   text
*.txt  text
*.md   text
*.xml  text
*.json text
*.bat  text
*.sql  text
*.xml  text
*.yml  text

# Images
*.png  binary
*.jpg  binary
*.gif  binary
*.ttf  binary